body {
  block-size: 0;
  border-block-end: 0;
  border-block-end-color: red;
  border-block-end-style: solid;
  border-block-end-width: 0;
  border-block-start: 0;
  border-block-start-color: red;
  border-block-start-style: solid;
  border-block-start-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-inline-end: 0;
  border-inline-end-color: red;
  border-inline-end-style: solid;
  border-inline-end-width: 0;
  border-inline-start: 0;
  border-inline-start-color: red;
  border-inline-start-style: solid;
  border-inline-start-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  clear: left;
  float: left;
  inline-size: 0;
  inset-block-end: 0;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  max-block-size: 0;
  max-inline-size: 0;
  min-block-size: 0;
  min-inline-size: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  text-align: start;
}
