a {
  $scss-variable: red;

  --custom-property: red;

  @include mixin;
  color: red;
  text-decoration: none;

  @include block {
    color: red;
  }

  .nested {
    color: blue;
  }
}

.foo {
  $scss-variable: red;
  @include mixin;
  color: red;
}
