a {
  $scss-variable: red;

  // stylelint-disable-next-line suitcss/custom-property-no-outside-root
  --custom-property: red;

  @include mixin;
  color: red;

  @include block {
    color: red;
  }

  .nested {
    color: blue;
  }
}
